# Data Science Final Project Notebook

This notebook summarizes essential data science tools and languages and provides examples of data manipulations.

popular data science languages, such as:
- Python
- R
- SQL
- Julia
- java

data science libraries :
- Pandas
- NumPy
- Matplotlib
- scikit-learn
- TensorFlow

a table of data science tools:
| Tool            | Description                       |
|-----------------|-----------------------------------|
| Jupyter Notebook| Interactive coding environment    |
| RStudio         | IDE for R                         |
| Apache Spark    | Distributed data processing       |

# Examples of simple arithmetic expressions are provided below.

In [3]:
# Example: Multiply and add
result = (5 * 4) + 3
result

23

In [4]:
# Convert 120 minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

# objectives :
- Introduce data science languages
- List commonly used libraries
- Showcase examples of arithmetic expressions


**Author:** Surya Narayan Sah